{% extends 'customer/password_reset_form.html' %}

{% load i18n %}

{% block page-title %}Email sent{% endblock %}

{% block app-capsule %}
<div id="appCapsule" class="mt-5">
  <div class="login-form">
    <div class="section mt-1">
      <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
      <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
    </div>
  </div>
</div>
{% endblock %}