{% extends 'index.html' %}

{% block page-title %}Reset password{% endblock %}

{% block app-capsule %}
<div id="appCapsule" class="mt-5">
  <div class="login-form">
    <div class="section mt-1">
      <h1>Forgotten your password?</h1>
      <h4>Enter your email address below, and we'll email instructions for setting a new one.</h4>
    </div>
  </div>
  <div class="section mt-1 mb-5">
    <form method="post" class="disable-btn-on-submit">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-group boxed">
        {{ form.email.errors }}
        <div class="input-wrapper">
          {{ form.email }}
          <i class="clear-input">
            <ion-icon name="close-circle"></ion-icon>
          </i>
        </div>
      </div>

      <div class="form-button-group">
        <button id="btn-submit" type="submit" class="btn btn-primary btn-block btn-lg">Reset password</button>
      </div>

    </form>
  </div>
</div>
{% endblock %}

{% block bottom-menu %}
{% endblock %}

{% block page-js %}{% endblock %}