{% extends 'customer/password_reset_form.html' %}

{% load i18n %}

{% block page-title %}Reset password{% endblock %}

{% block app-capsule %}
<div id="appCapsule" class="mt-5">
  <div class="login-form">
    <div class="section mt-1">
      <h4>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</h4>
    </div>
    <div class="section mt-1 mb-5">
      <form method="post" class="disable-btn-on-submit">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group boxed">
          {{ form.new_password1.errors }}
          <div class="input-wrapper">
            {{ form.new_password1 }}
            <i class="clear-input">
              <ion-icon name="close-circle"></ion-icon>
            </i>
          </div>
        </div>

        <div class="form-group boxed">
          {{ form.new_password2.errors }}
          <div class="input-wrapper">
            {{ form.new_password2 }}
            <i class="clear-input">
              <ion-icon name="close-circle"></ion-icon>
            </i>
          </div>
        </div>

        <div class="form-button-group">
          <button id="btn-submit" type="submit" class="btn btn-primary btn-block btn-lg">{% translate 'Change my password' %}</button>
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}