.errorlist {
    list-style: none;
    text-align: left;
    padding: 0;
    color: red;
    margin: 0;
    font-size: 80%;
}

#accounts-list {
    max-height: 200px;
    border-top-width: 0;
    border-bottom-width: 0;
}

#accounts-list .active {
    color: white !important;
}