{% extends 'index.html' %}

{% block page-title %}Create Account{% endblock %}

{% block app-header %}
<!-- App Header -->
<div class="appHeader no-border">
    <div class="left">
        <a href="#" class="headerButton">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </a>
    </div>
    <div class="pageTitle"></div>
    <div class="right">
    </div>
</div>
<!-- * App Header -->
{% endblock %}

{% block app-capsule %}
{% include 'inc/capsules/_signup.html' %}
{% endblock %}

{% block bottom-menu %}
{% endblock %}

{% block page-js %}{% endblock %}