<!-- App Capsule -->
<div id="appCapsule">
    <div class="section full mt-2 mb-2">
        <div class="wide-block pt-2 pb-2">
            <form class="disable-btn-on-submit" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group boxed">
                    <div class="input-wrapper">
                        <label class="label" for="amount">Search saved accounts</label>
                        <input type="text" class="form-control" id="id_search" placeholder="Type...">
                        <i class="clear-input">
                            <ion-icon name="close-circle"></ion-icon>
                        </i>
                    </div>
                </div>

                <ul class="listview link-listview overflow-auto mt-1 mb-1" style="max-height: 200px; border-right: solid 1px #E1E1E1; border-left: solid 1px #E1E1E1">
                    {% if accounts %}
                        {% for a in accounts %}
                            <li>
                                <a href="#">
                                    <span id="name">{% if a.name %}{{ a.name }}{% endif %}</span>
                                    <span id="number"><small>{{ a.number }}</small></span>
                                    <span id="bank-code" style="display: none">{{ a.provider_code }}</span>
                                    <span id="bank-name" style="display: none">{{ a.provider_name }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li id="no-accounts"><a href="#">You have no saved accounts.</a></li>
                    {% endif %}
                    <!-- <li>
                        <a href="#">
                            Link Item 1
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Link Item 3
                            <span class="badge badge-primary">52</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Link Item 3
                            <span class="text-muted">Edit</span>
                        </a>
                    </li> -->
                </ul>

                <div class="form-group boxed">
                    <div class="input-wrapper">
                        <label class="label" for="account_number">{{ form.number.label }}</label>
                        {{ form.number }}
                        <i class="clear-input">
                            <ion-icon name="close-circle"></ion-icon>
                        </i>
                        <div>{{ form.number.errors }}</div>
                    </div>
                </div>

                {% if form.confirm_number %}
                    <div class="form-group boxed">
                        <div class="input-wrapper">
                            <label class="label" for="confirm_account_number">{{ form.confirm_number.label }}</label>
                            {{ form.confirm_number }}
                            <i class="clear-input">
                                <ion-icon name="close-circle"></ion-icon>
                            </i>
                        </div>
                    </div>
                {% endif %}

                {% if form.name %}
                    <div class="form-group boxed">
                        <!-- progress bar here -->
                        <div class="input-wrapper">
                            <label class="label" for="acccount_name">{{ form.name.label }}</label>
                            {{ form.name }}
                            <i class="clear-input">
                                <ion-icon name="close-circle"></ion-icon>
                            </i>
                        </div>
                    </div>
                {% endif %}

                <div class="mt-2">
                    <button class="btn btn-primary btn-block" type="submit">Next</button>
                    <!-- <button type="button" class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#ModalForm">
                        Next
                    </button> -->
                </div>

            </form>

        </div>
        <!-- Modal Form -->
        <!-- <div class="modal fade modalbox" id="ModalForm" data-backdrop="static" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm Transfer</h5>
                        <a href="javascript:;" data-dismiss="modal">Close</a>
                    </div>
                    <div class="modal-body mt-5">
                        <div class="login-form">
                            <div class="section mb-5 ml-2 mr-2">
                                <p>
                                    You are sending
                                </p>
                                <h3>GH₵1,000</h3>
                                <p>To</p>
                                <p>
                                    Olaide, Akanbi M.
                                </p>
                                <p>
                                    Guaranty Trust Bank Plc<br>
                                    0003458760
                                </p>
                                <p>Recipient gets</p>
                                <h3>₦15,000</h3>
                                <div class="form-button-group">
                                    <button type="submit" class="btn btn-primary btn-block btn-lg">Send Money</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- * Modal Form -->
    </div>
</div>
<!-- * App Capsule -->