<!-- App Capsule -->
<div id="appCapsule">
    <div class="section full mt-2 mb-2">
        <div class="wide-block pt-2 pb-2">
            <form class="disable-btn-on-submit" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group boxed">
                    <div class="input-wrapper">
                        <label class="label" for="amount">Search saved accounts</label>
                        <input type="text" class="form-control" id="id_search" placeholder="Type...">
                        <i class="clear-input">
                            <ion-icon name="close-circle"></ion-icon>
                        </i>
                    </div>
                </div>

                <ul id="accounts-list" class="listview link-listview overflow-auto mt-1 mb-1">
                    {% if accounts %}
                        {% for a in accounts %}
                            <li>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <span id="name">{% if a.name %}{{ a.name }}{% endif %}</span>
                                    <span id="number"><small>{{ a.number }}</small></span>
                                    <span id="bank-code" style="display: none">{{ a.provider_code }}</span>
                                    <span id="bank-name" style="display: none">{{ a.provider_name }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li id="no-accounts"><a href="#">You have no saved accounts.</a></li>
                    {% endif %}
                    <!-- <li>
                        <a href="#">
                            Link Item 1
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Link Item 3
                            <span class="badge badge-primary">52</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Link Item 3
                            <span class="text-muted">Edit</span>
                        </a>
                    </li> -->
                </ul>

                <div class="form-group boxed">
                    <div class="input-wrapper">
                        <label class="label" for="account_number">{{ form.provider_code.label }}</label>
                        {{ form.provider_code }}
                        {{ form.provider_name }}
                        <i class="clear-input">
                            <ion-icon name="close-circle"></ion-icon>
                        </i>
                        <div>{{ form.provider_code.errors }}</div>
                    </div>
                </div>

                <div class="form-group boxed">
                    <div class="input-wrapper">
                        <label class="label" for="account_number">{{ form.number.label }}</label>
                        {{ form.number }}
                        <i class="clear-input">
                            <ion-icon name="close-circle"></ion-icon>
                        </i>
                        <div>{{ form.number.errors }}</div>
                    </div>
                </div>

                {% if form.confirm_number %}
                    <div class="form-group boxed">
                        <div class="input-wrapper">
                            <label class="label" for="confirm_account_number">{{ form.confirm_number.label }}</label>
                            {{ form.confirm_number }}
                            <i class="clear-input">
                                <ion-icon name="close-circle"></ion-icon>
                            </i>
                        </div>
                    </div>
                {% endif %}

                {% if form.name %}
                    <div class="form-group boxed">
                        <div class="input-wrapper">
                            <label class="label" for="account_name">
                                {{ form.name.label }}
                                <span id="progress" style="color: green; display: none">Fetching account name...</span>
                            </label>
                            {{ form.name }}
                            <i class="clear-input">
                                <ion-icon name="close-circle"></ion-icon>
                            </i>
                        </div>
                    </div>
                {% endif %}

                <input type="hidden" id="id_url" name="url" value="{{ beneficiary_url }}">
                <input type="hidden" id="id_secret_key" name="secret_key" value="{{ secret_key }}">
                <input type="hidden" id="id_site" name="site" value="{{ site }}">
                <input type="hidden" id="id_currency" name="currency" value="{{ currency }}">
                <div class="mt-2">
                    <button id="btn-submit" class="btn btn-primary btn-block" type="submit">Next</button>
                </div>

            </form>

        </div>
    </div>
</div>
<!-- * App Capsule -->