{% load humanize %}
{% load btc_filters %}

<div id="appCapsule">
    <div class="wide-block pt-2 pb-2" style="border-bottom-width: 0;">
        {% with t=transaction %}
        <ul class="listview simple-listview mt-5">
            <li>
                <span class="text-muted">You are sending</span>
                <strong>
                    {% with i=t.inflow %}
                        {% if i.currency == 'BTC' %}
                            {{ inflow_currency_symbol }}{{ i.amount | sats_to_btc }}
                        {% else %}
                            {{ inflow_currency_symbol }}{{ i.amount | intcomma }}
                        {% endif %}
                    {% endwith %}
                </strong>
            </li>
            {% if t.inflow.currency == 'BTC' %}
            <li>
                <span class="text-muted">USD value</span>
                <strong>
                    ${{ t.inflow.usd_value | intcomma }}
                </strong>
            </li>
            {% endif %}
            <li>
                <span class="text-muted">To</span>
                <strong style="text-align: right">
                    {{ t.outflow.dest_account_provider_name }}<br/>
                    {{ t.outflow.dest_account_number }}<br/>
                    {% if t.outflow.currency == 'NGN' %}
                        {{ t.outflow.dest_account_name }}
                    {% endif %}
                </strong>
            </li>
            <li>
                <span class="text-muted">Recipient will receive</span>
                <strong>{{ outflow_currency_symbol }}{{ t.outflow.amount | intcomma }}</strong>
            </li>
        </ul>
        {% endwith %}
        <form method="post" class="disable-btn-on-submit">
            {% csrf_token %}
            <div class="form-button-group" style="margin-bottom: 55px;">
                <button id="btn-submit" type="submit" class="btn btn-primary btn-block btn-lg">Send Money</button>
            </div>
        </form>
    </div>
</div>