{% extends 'index.html' %}

{% load static %}

{% load humanize %}

{% block page-title %}Activity{% endblock %}

{% block app-header %}
<div class="appHeader bg-primary text-light">
    <div class="left"></div>
    <div class="pageTitle">Activity</div>
    <div class="right"></div>
</div>
{% endblock %}

{% block app-capsule %}
<div id="appCapsule">
    <ul class="listview image-listview flush transparent mt-3 mb-2">
        {% for t in transactions %}
            <li>
                <a href="{{ t.get_absolute_url }}" class="item">
                    <div class="icon-box">
                        {% if t.inflow.currency == 'GHS' %}
                            <img src="{% static 'assets/img/icon/ghana.png' %}" width="30" height="30"/>
                        {% else %}
                            {% if t.inflow.currency == 'NGN' %}
                                <img src="{% static 'assets/img/icon/nigeria.png' %}" width="30" height="30"/>
                            {% else %}
                                <img src="{% static 'assets/img/icon/bitcoin.png' %}" width="30" height="30"/>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="in">
                        <div>
                            {{ t.inflow.currency }} to {{ t.outflow.currency }}
                            <footer>{{ t.created_at | naturaltime }}</footer>
                        </div>
                        <span style="text-align: right">
                            {% with i=t.inflow %}
                                {% if i.currency == 'NGN' %}
                                    ₦{{ i.amount | intcomma }}
                                {% else %}
                                    {% if i.currency == 'BTC' %}
                                        {{ i.amount | intcomma }} sats
                                    {% else %}
                                        GH₵{{ i.amount | intcomma }}
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                            <br/>
                            <small style="color: {% if t.status == 'Successful' %}green{% else %}#ff7f50{% endif %}">
                                {{ t.status }}</small>
                        </span>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}