{% extends 'index.html' %}

{% load static %}

{% load humanize %}

{% block page-title %}Transaction Detail{% endblock %}

{% block app-header %}
<div class="appHeader bg-primary text-light">
    <div class="left"></div>
    <div class="pageTitle">Transaction Detail</div>
    <div class="right"></div>
</div>
{% endblock %}

{% block app-capsule %}
<div id="appCapsule">
    {% with t=object %}
    <h2 style="text-align: center;" class="mt-2">{{ t.inflow.currency }} to {{ t.outflow.currency }}</h2>
    <ul class="listview simple-listview flush transparent mt-3 mb-2">
        <li>
            <span class="text-muted">Amount sent</span>
            <strong>{{ inflow_currency_symbol }}{{ t.inflow.amount }}</strong>
        </li>
        <li>
            <span class="text-muted">Recipient receives</span>
            <strong>{{ outflow_currency_symbol }}{{ t.outflow.amount | intcomma }}</strong>
        </li>
        <li>
            <span class="text-muted">Date</span>
            <strong>{{ t.created_at }}</strong>
        </li>
        <li>
            <span class="text-muted">Transaction ID</span>
            <strong>{{ t.transaction_id }}</strong>
        </li>
        <li>
            <span class="text-muted">Status</span>
            <strong style="color: green">{{ t.status }}</strong>
        </li>
    </ul>
    <ul class="listview simple-listview flush transparent mt-3 mb-2">
        <li>
            <span class="text-muted">Recipient Account</span>
            <strong style="text-align: right;">
                {{ t.outflow.dest_account_provider_name }}<br/>
                {{ t.outflow.dest_account_number }}<br/>
                {% if t.outflow.currency == 'NGN' %}
                    {{ t.outflow.dest_account_name }}
                {% endif %}
            </strong>
        </li>
        <!-- <li>
            <span class="text-muted">Recipient receives</span>
            <span>₦50,000.00</span>
        </li>
        <li>
            <span class="text-muted">Date</span>
            <span>22 Dec 2020 12:20</span>
        </li>
        <li>
            <span class="text-muted">Transaction ID</span>
            <span>TMNY37493437453048</span>
        </li>
        <li>
            <span class="text-muted">Status</span>
            <span style="color: green">Successful</span>
        </li> -->
    </ul>
    {% endwith %}
</div>
{% endblock %}